@import "navSection";
@import "headerSection";
@import "mainSectionOne";
@import "mainSectionTwo";
@import "mainSectionThree";
@import "mainSectionFour";
@import "footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}