nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15% 0 15%;
  background: #F9F9F9;
}

.rect {
  width: 51px;
  height: 118px;
  background: #D9D9D9;
}

.navImg {
  display: flex;
  gap: 30px;
}

.navLink {
  display: flex;
  gap: 68px;
}

.navLink a {
  color: #222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

h1 {
  font-family: Merriweather;
  font-size: 48px;
  color: #FFF;
  width: 589px;
}

.headerTextBtn {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  background: #005FA3;
  padding: 18px 0;
  border: none;
  cursor: pointer;
  margin-top: 80px;
  width: 270px;
  flex-shrink: 0;
}

.root {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 588px;
  margin-left: 370px;
  padding-top: 170px;
}

.headerText {
  transition: transform 0.4s;
}

.circle {
  width: 10px;
  height: 10px;
  opacity: 0.4;
  background: #FFF;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.headerSlideDiv {
  display: flex;
  gap: 30px;
  margin-top: 110px;
  padding-bottom: 113px;
  margin-left: 372px;
}

.headerBtn {
  position: absolute;
  z-index: 2;
  left: 75%;
  top: 72%;
  display: flex;
}

.leftBtn, .rightBtn {
  width: 60px;
  height: 60px;
  opacity: 0.4;
  background: #a6a9aa;
  border: none;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.4s;
}

.leftBtn img,
.rightBtn img {
  width: 15px;
  height: 15px;
  fill: #fff;
}

.leftBtn:hover,
.rightBtn:hover {
  opacity: 0.2;
}

.headerText:first-child {
  transform: translateX(0);
}

.mainOne {
  background: #ebebeb;
  padding-bottom: 140px;
}

.mainOneH {
  font-family: Lato;
  font-size: 24px;
  color: #bdbdbd;
  padding-top: 140px;
  padding-left: 20%;
}

.mainOneParMain {
  font-family: Merriweather;
  font-size: 48px;
  color: #333;
  margin-top: 40px;
  padding-left: 20%;
}

.mainOneImgTxt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 102px;
  padding-left: 20%;
  padding-right: 20%;
  gap: 30px;
}

.mainOneImgTxtContent {
  position: relative;
  width: 97%;
  height: 99%;
  cursor: pointer;
}

.mainOnePar {
  position: absolute;
  top: 75%;
  left: 10%;
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  width: 10%;
}

.mainOneImgTxtContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 95, 163, 0.65);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.mainOneImgTxtContent:hover::before {
  opacity: 0.7;
}

.mainTwo {
  display: flex;
  background: #f9f9f9;
  justify-content: start;
  gap: 125px;
  padding-top: 140px;
  padding-bottom: 140px;
}

.mainTwoTxt {
  padding-left: 20%;
}

.mainTwoParTxt {
  max-width: 445px;
}

.mainTwoBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.mainTwoH {
  font-family: Lato;
  font-size: 24px;
  color: #bdbdbd;
}

.mainTwoParWhite {
  font-family: Merriweather;
  font-size: 48px;
  color: #333;
  margin-top: 40px;
}

.mainTwoParBlue {
  font-family: Merriweather;
  font-size: 48px;
  color: #005fa3;
}

.mainTwoParTxt {
  color: #000;
  font-family: Lato;
  font-size: 18px;
  margin-top: 60px;
}

.mainTwoBlockNum {
  color: #000;
  font-family: Lato;
  font-size: 55px;
  margin-top: 30px;
  margin-left: 40px;
}

.mainTwoBlockTxt {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 40px;
  width: 100px;
  margin-right: 80px;
  margin-bottom: 47px;
}

.mainTwoBlockLink {
  color: #005fa3;
  font-family: Lato;
  font-size: 14px;
  margin-left: 40px;
}

.mainTwoNumTxtLink {
  height: 255px;
  transition: background-color 0.3s;
}

.mainTwoNumTxtLink:hover {
  background: #005FA3;
}

.mainTwoNumTxtLink:hover .mainTwoBlockNum,
.mainTwoNumTxtLink:hover .mainTwoBlockTxt,
.mainTwoNumTxtLink:hover .mainTwoBlockLink {
  color: #FFF;
}

.mainThree {
  background: #ebebeb;
}

.mainThreeH {
  padding-top: 140px;
  padding-left: 20%;
  color: #bdbdbd;
  font-family: Lato;
  font-size: 24px;
}

.mainThreePar {
  margin-top: 40px;
  padding-left: 20%;
  color: #333;
  font-family: Merriweather;
  font-size: 48px;
}

.mainThreeDisplay {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 1200px;
  padding-top: 100px;
  margin-left: 20%;
  transition: transform 0.4s;
}

.rooteImg {
  display: flex;
  transition: transform 0.4s;
  width: 1200px;
  flex-shrink: 0;
  gap: 10px;
}

.rooteImg:first-child {
  transform: translateX(0);
}

.rooteImg img {
  width: 200px;
  flex-shrink: 0;
}

.mainThreeRing {
  margin-top: 80px;
  display: flex;
  gap: 30px;
  margin-left: 25%;
}

.mainThreeCicle {
  width: 10px;
  height: 10px;
  opacity: 0.4;
  background: #005fa3;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.mainThreeRingBtn {
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.mainThreeBtn {
  margin-top: 50px;
  display: flex;
}

.mainThreeLeft,
.mainThreeRight {
  width: 60px;
  height: 60px;
  opacity: 0.4;
  background: #005fa3;
  border: none;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.4s;
}

.mainThreeLeft:hover,
.mainThreeRight:hover {
  opacity: 1;
}

.mainFour {
  background: #f9f9f9;
  padding-top: 140px;
}

.mainFourH {
  margin-left: 20%;
  font-family: Lato;
  font-size: 24px;
  color: #bdbdbd;
}

.mainFourPar {
  margin-left: 20%;
  margin-top: 40px;
  color: #333;
  font-family: Merriweather;
  font-size: 48px;
}

.mainFourDisplay {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 1100px;
  padding-top: 100px;
  margin-left: 20%;
  padding-left: 80px;
  transition: transform 0.4s;
  background: #ebebeb;
}

.rootFourDisplay {
  display: block;
  transition: transform 0.4s;
  width: 1200px;
  margin-bottom: 45px;
  margin-top: 45px;
  flex-shrink: 0;
}

.rootFourDisplay:first-child {
  transform: translateX(0);
}

.mainFourDisplayText {
  width: 920px;
  color: #000;
  font-family: Lato;
  font-size: 18px;
}

.mainFourDisplayIconTxt {
  display: flex;
  margin-top: 58px;
  gap: 35px;
}

.mainFourDisplayImg {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.mainFourDisplayName {
  color: #000;
  font-family: Lato;
  font-size: 18px;
  margin-top: 5px;
}

.mainFourDisplayFirm {
  color: #4F4F4F;
  font-family: Lato;
  font-size: 14px;
  margin-top: 5px;
}

.mainFourRing {
  margin-top: 80px;
  display: flex;
  gap: 30px;
  margin-left: 25%;
}

.mainFourCicle {
  width: 10px;
  height: 10px;
  opacity: 0.4;
  background: #005fa3;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.mainFourRingBtn {
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.mainFourBtn {
  margin-top: 50px;
  display: flex;
}

.mainFourLeft,
.mainFourRight {
  width: 60px;
  height: 60px;
  opacity: 0.4;
  background: #005fa3;
  border: none;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.4s;
}

.mainFourLeft:hover,
.mainFourRight:hover {
  opacity: 1;
}

footer {
  display: flex;
  justify-content: center;
  gap: 260px;
  padding-bottom: 250px;
  position: relative;
}

.footerTitle {
  color: #fff;
  font-family: Merriweather;
  font-size: 48px;
  margin-top: 122px;
}

.footerTxt {
  color: #bdbdbd;
  font-family: Lato;
  font-size: 18px;
  margin-top: 60px;
  width: 430px;
}

.footerPhonEmail {
  display: flex;
  margin-top: 80px;
  gap: 40px;
}

.phEm {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.phoneTxt {
  color: #bdbdbd;
  font-family: Lato;
  font-size: 21px;
}

.footerRight {
  margin-top: 135px;
}

.nameInput {
  display: flex;
  gap: 20px;
}

label {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
}

input {
  background-color: transparent;
  font-family: Lato;
  font-size: 21px;
  color: #bdbdbd;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
  padding-top: 10px;
}

.labTxt {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  margin-top: 35px;
}

textarea {
  background-color: transparent;
  font-family: Lato;
  font-size: 21px;
  color: #bdbdbd;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
}

.inpBtn {
  background: #005fa3;
  border: none;
  outline: none;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  color: #fff;
  padding: 19px;
  position: absolute;
  top: 75%;
  left: 71%;
  cursor: pointer;
}

.footerInfo {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
  padding-bottom: 40px;
  background: #f9f9f9;
}

.infoTxt {
  color: #000;
  text-align: right;
  font-family: Lato;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
